<h1>И снова привет скучал по мне?</h1>
<h1>Дяяяяяяяяяяяяяяяяяяяяяяяяяяяяя</h1>
<p>
  cейчас <%= Time.now %>
</p>
<p>
  Пора сказать
  <%= link_to "до свидания", say_goodbye_path %>!
</p>
<p> сложение цифр
  <%= 1+3 %>
</p> сложение строк
  <%= "cow" + "boy" %>
<p>

</p>
<p> время на час назад
  <%= 1.hour.from_now %>
</p>

